// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-grey-300: #A5A5A5;
$color-grey-500: #4D4D4D;
$color-grey-900: #2B2B2B;
$color-black: #0b0b0b;

$color-text: $color-grey-500;
$color-text-light: #fff;

$color-primary: #ff4e80;
$color-primary-100: #ff739c;
$color-primary-300: #ff5f8a;
$color-primary-500: $color-primary;
$color-primary-700: #E84775;
$color-primary-900: #D14069;

$color-secondary: #4DB3CE;
$color-secondary-100: #98E7FC;
$color-secondary-200: #7BE0FB;
$color-secondary-300: #5edafb;
$color-secondary-400: #3EC3F7;
$color-secondary-500: $color-secondary;
$color-secondary-700: #3EC3F7;
$color-secondary-900: #3C8BA0;

$color-tertiary: #f4aa23;
$color-tertiary-300: #fad961;
$color-tertiary-500: $color-tertiary;
$color-tertiary-700: #091d37;

$color-quaternary: #39c8c1;
$color-quaternary-300: #58cac5;
$color-quaternary-500: $color-quaternary;
$color-quaternary-700: #2FA49E;

:export {
  colorText: $color-text;
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorTertiary: $color-tertiary;
  colorQuaternary: $color-quaternary;
}