.main--container {
  margin: 0 auto;
  max-width: $container;
}

.layout--container {
  margin: 0 auto;
  max-width: $container;
  padding: 0 $padding-2;

  @media #{$breakpoint-gt-sm} {
    padding: 0 $padding-3;
  }
  @media #{$breakpoint-lt-sm} {
    padding: 0 $padding;
	}
}

.layout--row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: '100%';
}

.layout--grid-row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: '100%';
  @media #{$breakpoint-lt-md} {
    flex-direction: column;
    align-items: center;
  }
}

.layout--column {
  display: flex;
  flex-direction: column;
  position: relative;
}