// INLINED FROM https://github.com/milligram/milligram-scss

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
}

// Sass Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'Variables';
@import 'Colors';
@import 'Blockquote';
@import 'Button';
@import 'Code';
@import 'Divider';
@import 'Grid';
@import 'Link';
@import 'List';
@import 'Spacing';
@import 'Typography';
@import 'Image';
@import 'Utility';

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
  box-sizing: inherit;
}

// Default body styles
body {
  color: $color-text;
  font-family: $font-body, 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
    sans-serif;
  font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header, sans-serif;
}
