// Base Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$font-body: 'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
  sans-serif;
$font-header: 'Brandon Grotesque', sans-serif;

$color-white: #fff;
$color-grey: #6d6d6d;
$color-grey-100: #d9d9d9;
$color-grey-300: #a5a5a5;
$color-grey-500: $color-grey;
$color-grey-700: #464646;
$color-grey-900: #2b2b2b;
$color-black: #0b0b0b;

$color-text: $color-grey-700;
$color-text-white: $color-white;
$color-text-light: $color-grey-300;
$color-text-header: $color-grey-300;

$color-background: #f8f8f8;

// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-primary: #53d8fb;
$color-primary-100: #91e6fc;
$color-primary-300: #72dff8;
$color-primary-500: $color-primary;
$color-primary-700: #44b1ce;
$color-primary-900: #358aa0;

$color-secondary: #416e8b;
$color-secondary-100: #799db4;
$color-secondary-300: #5785a1;
$color-secondary-500: $color-secondary;
$color-secondary-700: #5785a1;
$color-secondary-900: #274253;

$color-tertiary: #ff4e80;
$color-tertiary-300: #ff9eb9;
$color-tertiary-500: $color-tertiary;
$color-tertiary-700: #d14069;

$color-quaternary: #292b3d;
$color-quaternary-300: #383b53;
$color-quaternary-500: $color-quaternary;
$color-quaternary-700: #1a1b26;

$color-text-primary: $color-primary-700;
$color-text-secondary: $color-secondary-700;

$color-background-primary: #b0edfd;
$color-background-secondary: #abc0d0;

// Breakpoints
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$container: 960px;
$header-height: 60px;
$header-padding-value: 200;
$header-padding-height: $header-padding-value + px;

$sm-value: 600;
$md-value: 960;

$xs: 599px;
$sm: $sm-value + px;
$ltmd: 959px;
$md: $md-value + px;
$ltlg: 1199px;
$lg: 1200px;
$ltxl: 1919x;
$xl: 1920px;

$breakpoint-xs: 'screen and (max-width: #{$xs})';
$breakpoint-gt-sm: 'screen and (min-width: #{$sm})';
$breakpoint-sm: 'screen and (min-width: #{$sm}) and (max-width: #{ltmd})';
$breakpoint-lt-md: 'screen and (max-width: #{$ltmd})';
$breakpoint-gt-md: 'screen and (min-width: #{$md})';
$breakpoint-md: 'screen and (min-width: #{$md}) and (max-width: #{$ltlg})';
$breakpoint-lt-lg: 'screen and (max-width: #{$ltlg})';
$breakpoint-gt-lg: 'screen and (min-width: #{lg})';
$breakpoint-lg: 'screen and (min-width: #{$ltxl}) and (max-width: #{$xl})';
$breakpoint-xl: 'screen and (min-width: #{$xl})';
$breakpoint-height-xs: 'screen and (max-height: 599px)';

// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$padding: 1.6rem;
$padding-2: 3.2rem;
$padding-3: 4.8rem;
$padding-4: 6.4rem;
$padding-6: 9.6rem;
$padding-8: 12.8rem;
$padding-half: 0.8rem;

hr {
  margin: $padding-4 0;
  @media #{$breakpoint-gt-md} {
    margin: $padding-8 0;
  }
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: initial;
}

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
  box-sizing: inherit;
}

// Default body styles
body {
  margin: 0;
  color: $color-text;
  font-family: $font-body;
  font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.8;

  @media #{$breakpoint-gt-md} {
    font-size: 2em;
  }
}

// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-header;
  font-family: $font-header;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 3.2rem;

  @media #{$breakpoint-gt-md} {
    font-size: 6rem;
  }
}

h2 {
  font-size: 2.8rem;

  @media #{$breakpoint-gt-md} {
    font-size: 4.8rem;
  }
}

h3 {
  font-size: 2.4rem;

  @media #{$breakpoint-gt-md} {
    font-size: 4.2rem;
  }
}

h4 {
  font-size: 2.2rem;

  @media #{$breakpoint-gt-md} {
    font-size: 3.2rem;
  }
}

h5 {
  font-size: 2rem;
  @media #{$breakpoint-gt-md} {
    font-size: 2.8rem;
  }
}

h6 {
  @media #{$breakpoint-gt-md} {
    font-size: 2.4rem;
  }
}

p {
  margin-top: 0;
}

small {
  color: $color-text-light;
}

// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––

img {
  max-width: 100%;
}

// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $color-secondary;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-secondary-100;
  }
}

.header-link {
  color: $color-text-header;
  font-weight: 900;
  font-family: $font-header;
  text-transform: uppercase;
}

.link-header {
  color: $color-text-header;
}

.link-text {
  color: $color-text;
}

// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.main--container {
  margin: 0 auto;
  max-width: $container;
}

.layout--container {
  margin: 0 auto;
  max-width: $container;
  padding: $padding-2 $padding-2;

  @media #{$breakpoint-gt-md} {
    padding: $padding-4 $padding-2;
  }
}

.container {
  max-width: $container;
}

.layout--row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: '100%';
}

.layout--grid-row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: '100%';
  @media #{$breakpoint-lt-md} {
    flex-direction: column;
    align-items: center;
  }
}

.layout--column {
  display: flex;
  flex-direction: column;
  position: relative;
}

// Exports
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:export {
  colorWhite: $color-white;
  colorGrey: $color-grey;
  colorGrey100: $color-grey-100;
  colorGrey300: $color-grey-300;
  colorGrey500: $color-grey-500;
  colorGrey700: $color-grey-700;
  colorGrey900: $color-grey-900;
  colorBlack: $color-black;

  colorText: $color-text;
  colorTextWhite: $color-text-white;
  colorTextLight: $color-text-light;
  colorTextHeader: $color-text-header;
  colorTextPrimary: $color-text-primary;
  colorTextSecondary: $color-text-secondary;

  colorBackground: $color-background;
  colorBackgroundPrimary: $color-background-primary;
  colorBackgroundSecondary: $color-background-secondary;

  fontBody: $font-body;
  fontHeader: $font-header;

  padding: $padding;
  padding2: $padding-2;
  padding3: $padding-3;
  padding4: $padding-4;
  paddingHalf: $padding-half;

  colorPrimary: $color-primary;
  colorPrimary100: $color-primary-100;
  colorPrimary300: $color-primary-300;
  colorPrimary500: $color-primary-500;
  colorPrimary700: $color-primary-700;
  colorPrimary900: $color-primary-900;

  colorSecondary: $color-secondary;
  colorSecondary100: $color-secondary-100;
  colorSecondary300: $color-secondary-300;
  colorSecondary500: $color-secondary-500;
  colorSecondary700: $color-secondary-700;
  colorSecondary900: $color-secondary-900;

  colorTertiary: $color-tertiary;
  colorTertiary300: $color-tertiary-300;
  colorTertiary500: $color-tertiary-500;
  colorTertiary700: $color-tertiary-700;

  colorQuaternary: $color-quaternary;
  colorQuaternary300: $color-quaternary-300;
  colorQuaternary500: $color-quaternary-500;
  colorQuaternary700: $color-quaternary-700;

  smValue: $sm-value;
  mdValue: $md-value;
  headerPaddingValue: $header-padding-value;
}
