@import 'theme';

.container {
  position: relative;

  @media #{$breakpoint-gt-md} {
    width: $header;
    flex-direction: column;
    align-items: flex-end;
  }

  @media #{$breakpoint-lt-md} {
    height: $header-height;
    width: 100%;
  }
}

.header {
  position: fixed;
  overflow: auto;
  overscroll-behavior: contain;

  @media #{$breakpoint-gt-md} {
    top: 35%;
    transform: translateY(-50%);
  }

  @media #{$breakpoint-lt-md} {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid  $color-grey-100;
  }
}

.headerContent {
  padding: $padding $padding-2;
  display: flex;

  @media #{$breakpoint-gt-md} {
    padding: $padding-2 $padding-3;
    width: $header;
    flex-direction: column;
    align-items: flex-end;
  }

  @media #{$breakpoint-lt-md} {
    height: $header-height;
    max-width: $container-body;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.link {
  color: $color-secondary-500;
  text-decoration: none;
  padding: 3px 0;
  margin: 1rem 0;
  font-family: $font-header;
  transition: color 0.1s ease;

  @media #{$breakpoint-lt-md} {
    flex-direction: row;
    align-items: center;
    margin: 1rem 1rem;
  }
}

.link:hover {
  color: $color-secondary-100;
}

.linkActive {
  color: $color-primary-500;
  border-bottom: 3px solid $color-primary-500;
  padding-bottom: 0px;
}

.linkActive:hover {
  color: $color-primary-100;
  border-bottom: 3px solid $color-primary-100;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media #{$breakpoint-lt-md} {
    flex-direction: row;
    align-items: center;
  }
}
