@import 'theme';

.header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.headerImage {
  height: 32px;
  width: 32px;

  @media #{$breakpoint-gt-sm} {
    height: 40px;
    width: 40px;
  }
}

.headerLinks {
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 $padding-2;

  @media #{$breakpoint-lt-sm} {
    display: none;
  }
}

.link {
  color: $color-secondary-500;
  text-decoration: none;
  padding: $padding-half;
  margin: 0 0 0 $padding;
  font-family: $font-header;
  transition: color 0.1s ease;

  @media #{$breakpoint-lt-sm} {
    flex-direction: row;
    align-items: center;
    margin: 1rem 1rem;
  }
}

.link:hover {
  color: $color-secondary-100;
}

.linkActive {
  color: $color-primary-500;
}

.linkActive:hover {
  color: $color-primary-100;
}

.linkContainer {
  display: flex;
  align-items: center;
}
