@import '_Variables';

.header {
  padding: $padding $padding;
  display: flex;

  @media #{$breakpoint-gt-md} {
    width: $header;
    flex-direction: column;
  }

  @media #{$breakpoint-lt-sm} {
    padding: $padding $padding-2;
  }
}
